.page {
  min-height: 100vh;
  background-color: #fafafa;
}

.pageDark {
  min-height: 100vh;
  background-color: hsl(207, 26%, 17%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
