@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: hsl(200, 15%, 8%);
}

.html {
  color-scheme: light;
}

.htmlDark {
  color-scheme: dark;
}

.html *::-webkit-scrollbar {
  width: 0.7rem;
  background-color: #ffffff;
}

.html *::-webkit-scrollbar-thumb {
  width: 0.7rem;
  background-color: #a7a3a3;
  border-radius: 0.3rem;
}

.htmlDark *::-webkit-scrollbar {
  width: 0.7rem;
  background-color: hsl(209, 23%, 22%);
  color-scheme: dark;
}

.htmlDark *::-webkit-scrollbar-thumb {
  width: 0.7rem;
  background-color: hsl(212, 26%, 11%);
  border-radius: 0.3rem;
  color-scheme: dark;
}
